/*
   REFERENCE
  ============

  Purple: #6f57a4   ||   rgb(111,87,164)

  Gray: #f6f5f5   ||   rgb(246, 245, 245)

  Black: #404041   ||   rgb(64, 64, 65)

*/



/* ======================= */
/* ===== BASE STYLES ===== */
/* ======================= */

/* Delete this import statement if you resolve the font load blocking issue */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

/* Establish base font and weight */
h1, h3, h4, h5, h6
p, blockquote, small, form
label, select, option, input {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
}
h2 {
  font-weight: 300 !important;
}

/* Font display optimization */
body {
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;

  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* Standardize Forms */

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");

input,
select,
textarea {
  box-shadow: none !important;
  border: 1px solid #E0E0E0 !important;
  border-radius: 0 !important;
}
input:focus,
select:focus {
  border: 1px solid #6f57a4 !important;
}
input[type="text"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -webkit-rtl-ordering: logical;
}
input:focus {
  background-color: rgba(111,87,164, 0.2);
}


/* =============================== */
/* ===== REUSABLE COMPONENTS ===== */
/* =============================== */

/* === Utility Classes === */
/*

  .lh-full-width
    makes any component the full width of its container

  .lh-centered
    centers the text within any container

  .lh-white
    makes text white

  .lh-bg-white
    makes background white

  .lh-iconbox
    Apply styles to builder icon box

  .h2-padder
    meant to give horizontal padding to full width section headers or text blocks

  .side-menu-item
    creates a highlightable side menu

  .cta-primary
    filled purple button, primary call to action

  .cta-secondary
    hollow button with animated underline


*/

/* Full Width Components */
.lh-full-width {
  width: 100%;
}

/* Centered Text */
.lh-centered {
  text-align: center;
}

/* White Text */
.lh-white {
  color: #FFF !important;
}

/* White Background */
.lh-bg-white {
  background-color: #FFF !important;
}

/* Apply styles to builder icon box */
.lh-iconbox {
  background-color: #FFF !important;
  padding
}

/* h2-padding */
.text-padder {
  padding: 0 120px;
}
@media screen and (max-width: 567px) {
  .text-padder {
    padding: 0 20px;
  }
}


/* === Side Menu === */

.side-menu-item a {
  margin: 0 !important;
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #404041;
  border-bottom: 1px solid #E0E0E0;
  background-color: #EEEEEE;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.side-menu-item a:hover {
  background-color: #6f57a4;
  color: #FFF;
}


/* === Call to Action Buttons === */

/* Both Buttons */
.cta-primary,
.cta-secondary {
  overflow:visible;
  font-size: 20px;
  font-weight: 300 !important;
  line-height: 36px !important;
}

/* Primary Button */
.cta-primary {
  margin-bottom: 0 !important;
  border: 2px solid rgba(111,87,164, 1); /* == #6f57a4 */
  background-color: rgba(111,87,164, 1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)!important;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1)!important;
  -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1)!important;
  -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1)!important;
}
.cta-primary:hover {
  border: 2px solid rgba(111,87,164, 0.85) !important;
  background-color: rgba(111,87,164, 0.85) !important;
}

/* "cta-primary button should span full width on mobile" */
@media screen and (max-width: 800px) {
  .cta-primary {
    width: 100% !important;
  }
}
/* Secondary Buttons */
.cta-secondary {
  color:  #6f57a4;
  background-color: rgba(0,0,0,0) !important;
  border-radius: 0 !important;
}
.cta-secondary::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6f57a4;
  visibility: hidden;
  /* Animated Underline */
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.cta-secondary:hover {
  color: #6f57a4 !important;
}
.cta-secondary:hover::before {
  visibility: visible;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
}


/* === lh-cta-box === */

/* TABLETS & UP */
@media screen and (min-width: 800px) {
  .lh-cta-box .cta-secondary {
    margin-left: 10px;
  }
}

/* PHONES & SMALL TABS */
@media screen and (max-width:667px) {
  .lh-cta-box .cta-primary,
  .lh-cta-box .cta-secondary {
    width: 100%;
  }
  .lh-cta-box .cta-primary {
    margin-bottom: 20px !important;
  }
}



/* === Looking for Something === */
.looking-for-something {
  padding: 100px 0;
}
/* font color */
.looking-text-box,
.looking-text-box h2,
.looking-form p {
  color: #FFFFFF !important;
}
.looking-text-box {
  text-align: center;
  margin-bottom: 3rem;
}
.looking-form {
  text-align: center;
}
.looking-form .cta-primary,
.looking-form select {
  height: 60px;
  margin: 0;
}

/* EVERYTHING BUT PHONES & TABLETS */
@media screen and (min-width: 800px) {
  .looking-form .cta-primary {
    margin-left: 15px;
  }
}

/* EVERYTHING BUT PHONES */
@media screen and (min-width: 567px) {
  .looking-select {
    width: 30% !important;
  }
}

/* PHONES ONLY */
@media screen and (max-width: 567px) {
  .looking-form .looking-select {
    margin-bottom: 10px;
  }
  .looking-form .cta-primary {
    width: 100%;
  }
}

/* === Half Width Bumpers === */

.bumper-section .one-half {
  padding: 0 !important;
}

.half-width-bumper {
  text-align: center;
  padding: 100px 0;
  background-color: rgba(111, 87, 164, 1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.half-width-bumper:hover {
  background-color: rgba(111, 87, 164, 0.8);
}

/* give the second bumper a top border when stacked */
@media screen and (max-width: 800px) {
  .one-half:last-child .half-width-bumper {
    border-top: 3px solid #FFF;
  }
}
@media screen and (min-width: 800px) {
  /* and a left border when side by side */
  .one-half:last-child .half-width-bumper {
    border-left: 3px solid #FFF;
  }
}

.half-width-bumper p {
  display: inline-block;
  padding: 25px;
  border: 3px solid #FFF;
}



/* ================================= */
/* ===== CAREGIVER APPLICATION ===== */
/* ================================= */

.caregiver-application .sign-up,
.caregiver-application .close-app {
  display: inline-block;
  vertical-align: top;
}
.caregiver-application .sign-up {
  width: 80%
}
.caregiver-application .cta-primary {
    width: 100%;
    font-size: 14px;
    border-radius: 0;
    margin-top: 0;
}
.caregiver-application .close-app {
  height: 62px;
  width: 20%;
  text-align: center;
  color: #FFF;
  padding: 14px 5px 11px 5px;
  background-color: rgba(111,87,164, 0.8);
}
.caregiver-application i {
  font-size: 2rem;
}



/* ================== */
/* ===== HEADER ===== */
/* ================== */

/* Remove Header Box Shadow */
.l-header.layout_standard .l-subheader.at_middle,
.l-header.layout_extended .l-subheader.at_middle {
  box-shadow: none !important;
}

/* Home Page Header Adjustment */

.home h2 {
  font-size: 32px !important;
  font-weight: 300 !important;
}

/* Slightly smoother header transitions */
.l-header {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* Format contact link into a button */
.w-nav-list > li.menu-item.level_1:last-child a.w-nav-anchor {
  background-color: inherit;
  color: #6f57a4 !important;
  border: 2px solid #6f57a4;
}
.w-nav-list > li.menu-item.level_1:last-child a.w-nav-anchor:hover {
  background-color: #6f57a4;
  color: #FFFFFF !important;
  border: 2px solid #6f57a4;
}

/* Styles for nested nav links */
.w-nav-list li.level_2:hover,
.w-nav-list li.level_3 {
  background-color: #EEEEEE;
}
.w-nav-list li.level_3:hover {
  background-color: #E0E0E0;
}

/* Space in between buttons */
.rev-primary .cta-secondary {
  margin-left: 10px;
}

/* Remove CollapseHeader */
.home .CollapseHeader {
  display: none !important;
}

/* DESKTOP ONLY */
@media screen and (min-width: 992px) {
  /* Add more space around the contact button */
  .w-nav-list > li.menu-item.level_1:last-child a.w-nav-anchor {
    margin-left: 15px;
  }
}



/* ===================== */
/* ===== HOME PAGE ===== */
/* ===================== */

/* Full width image - icon box styles */
.custom-iconbox {
  text-align: center;
  padding: 15% 9% 9% 9%;
  min-height: 375px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.custom-iconbox:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.custom-iconbox p {
  margin-bottom: 5px;
}
.custom-iconbox i {
  font-size: 2rem;
  color: #6f57a4;
}
.custom-iconbox .cta-secondary {
  margin-left: 0!important;
}

/* 10 Common Concerns secton */
.common-problems {
  text-align: center;
}
@media screen and (max-width: 800px) {
  /* Let button take up 2 rows if needed on mobile */
  .common-problems .cta-primary {
    white-space: normal;
  }
}

/* Testimonial Slider */
.testimonial-slide {
  color:  #404041 !important;
  text-align: center;
}
/* Quote giver's name */
.testimonial-slide small {
  font-size: 1rem;
}
/* Quote text */
.testimonial-slide blockquote {
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  padding-left: 0 !important;
  border: 0 !important;
}



/* ======================================= */
/* ===== HOME PAGE REVOLUTION SLIDER ===== */
/* ======================================= */

/* Remove section padding from slider container (home page only) */
.home .l-section-h:first-child {
  padding: 0 !important;
}

/* Headers */
.rev-primary h1 {
  padding: 0 !important;
  margin: 0 !important;
}

/* Paragraph text */
.rev-primary p,
.rev-connect p,
.rev-primary h1 {
  color: #000 !important;
  font-size: 20px !important;
  font-weight: 300 !important;
  line-height: 32px !important;
}

/* === Mobile Slide Styles === */
/*
Mobile slides are recreated below the slider using jquery.
Check the html/js injection point in impreza theme options,
heading: Revolution Mobile Config
*/

.rev-mobile-slide {
  background-color: #f6f5f5;
  padding: 35px 10px 35px 10px;
  text-align: center;
}

/*  PHONES ONLY */
@media screen and (max-width: 567px) {
  /* Hide the h1 */
  .rev-primary-mobile h1 {
    display: none;
  }
  /* pad the content */
  .rev-connect-mobile p {
    padding: 0 20px;
  }
  /* stack & center the cta's */
  .rev-primary-mobile .button-box button {
    display: block;
    margin: 0 auto;
  }
}

/* PHONES AND TABLETS */
@media screen and (max-width: 769px) {
  /* Hide the normal slide ctas */
  .rev-primary,
  .rev-connect {
    visibility: hidden;
  }
  .rev-primary h2,
  .rev-connect h2 {
    padding-bottom: 15px;
  }
  .rev-primary-mobile .cta-primary,
  .rev-secondary-mobile .cta-primary {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
}

/* TABLETS ONLY */
@media screen and (min-width: 650px) {
  /* bring the mobile slide text into the center */
  .rev-mobile-slide p {
    padding: 0 40px;
  }
}

/* DESKTOP ONLY */
@media screen and (min-width: 967px) {
}

/* ====================== */
/* ===== APPLY PAGE ===== */
/* ====================== */

@media screen and (min-width: 967px) {
  .apply-online-container .list-radio-wrap .nf-field-element li,
  .apply-online-container .list-checkbox-wrap .nf-field-element li {
    display: inline-block;
    padding-left: 10px !important;
  }
}

.apply-online-submit {
  padding: 20px 0 !important;
}


/* ======================== */
/* ===== CAREERS PAGE ===== */
/* ======================== */

/* === Icons === */
.custom-icons-section .w-iconbox-title {
  padding: 10px 0 10px !important;
}

@media screen and (max-width: 600px) {
  .custom-icons-section .w-iconbox-title {
    padding: 0 0 10px !important;
  }
}

/* === Testimonial Slider === */
.caregiver-testimonial blockquote {
  border: none !important;
  font-size: 1.25rem !important;
  line-height: 1.25rem !important;
  white-space: normal !important;
}
.caregiver-testimonial small {
  font-size: 1rem !important;
}

@media screen and (min-width: 800px) {
  .caregiver-testimonial small {
    float: right;
  }
}
@media screen and (max-width: 800px) {
  .caregiver-testimonial small {
    margin-left: 30%;
  }
}


/* =========================== */
/* ===== CONTACT US PAGE ===== */
/* =========================== */

/* === form === */

/* set form field heights */
#nf-form-2-cont input[type="text"],
#nf-form-2-cont input[type="email"],
#nf-form-2-cont input[type="tel"],
#nf-form-2-cont select {
  height: 60px !important;
}

/* override some default ninja button styles */
.nf-form-cont .cta-primary {
  border: none !important;
  width: 100% !important;
  font-size: 1.5rem;
  padding: 20px 0;
}

/* Hide default ninja form message */
.nf-form-fields-required {
  display: none;
}

/* mailchimp checkboxx */
.nf-form-cont .mailchimp-optin-wrap .nf-field-label {
  width: 85%;
}
.nf-form-cont .mailchimp-optin-wrap .nf-field-element {
  width: 5%;
}

/* 2 form fields per row, except comments and subscribe */
@media screen and (min-width: 967px) {
  .firstname-container,
  .lastname-container,
  #nf-form-2-cont .listselect-container,
  #nf-form-2-cont .phone-container,
  #nf-form-2-cont .email-container {
    width: 49.5% !important;
    display: inline-block !important;
  }
}

/* Hide form error messages, they mess with the form style we want */
.nf-error-msg {
  position: absolute;
}


/* ========================== */
/* ===== LOCATIONS PAGE ===== */
/* ========================== */

/* Form Fields */
#addy_in_address,
#addy_in_radius {
  margin-bottom: 15px;
}

/* Submit Button */
#addressSubmit {
  width: 100%;
  padding: 25px 0;
  background-color: #6f57a4;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
  -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
  -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
}
#addressSubmit:hover {
  background-color: rgba(111,87,164, 0.85) !important;
}

/* Text below button */
#map_sidebar .text_below_map {
  display: none;
}

#slp_tagline {
  visibility: hidden;
}

/* DESKTOP ONLY - Page Layout */
@media screen and (min-width: 967px) {
  /* Push the form to the left and bring the map up */
  #sl_div #searchForm {
    width: 35%;
    margin-right: 5%;
    float: left;
    /*padding-top: 10%;*/
  }
  #sl_div #map {
    width: 60%;
  }
}

@media screen and (max-width: 967px) {
  #addressSubmit {
    margin-bottom: 15px;
  }
  .store-locator-section {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}

/* === Map Results ===*/
#map_sidebar .results_entry {
  background: #EEEEEE;
  border-bottom: 1px solid #E0E0E0 !important;
}
#map_sidebar .results_entry:hover {
  background: rgba(111,87,164, 0.2) !important;
}

#map_sidebar span.location_name {
  color: #6f57a4 !important;
}


/* ================================= */
/* ===== LOCATIONS: CITY PAGES ===== */
/* ================================= */

.ult-team-member-position {
  font-size: 1.125rem !important;
}


/* ================== */
/* ===== FOOTER ===== */
/* ================== */

/* Remove duplicate social links */
/* FIXME Delete this code if you find the theme option for this */
.footersocial {
  display: none;
}

/* Column Widths */
@media screen and (min-width: 727px) {
  .l-subfooter.at_top .g-cols .one-quarter:first-child {
    margin-bottom: 0 !important;
    width: 50%;
  }
}
@media screen and (min-width: 967px) {
  .l-subfooter.at_top .g-cols .one-quarter:first-child {
    margin-bottom: 0 !important;
    width: 73%;
  }
}

/* Social Media Links */
.w-socials-list {
  padding: 15px;
}

@media screen and (max-width: 600px) {
  .w-socials-list {
    text-align: center
  }
}

/* Hide the bottom subfooter */
.l-subfooter.at_bottom {
  display: none;
}

/* Copyright Text */
.copyright-text {
  text-align: center;
}

/* Style nav links */
.footer-nav-group a {
  display: block;
  text-align: center;
  color: #6f57a4;
  padding: 15px 0;
}
@media screen and (min-width: 800px) {
  .footer-nav-group {
    margin-bottom: 25px;
  }
  .footer-nav-group a {
    font-size: 22px;
    display: inline-block;
    width: 14%;
    margin-right: 1.2%;
  }
  /* To compensate for privacy policy being longer */
  .footer-nav-group a:last-child {
    width: 18%;
  }
  .copyright-text {
    text-align: left;
    padding-left: 25px;
  }
}
